<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hqyj.mana.dao.UrrelMapper" >
  <resultMap id="BaseResultMap" type="com.hqyj.mana.pojo.Urrel" >
    <id column="urid" property="urid" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="rid" property="rid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    urid, username, rid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from u_r_rel
    where urid = #{urid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from u_r_rel
    where urid = #{urid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hqyj.mana.pojo.Urrel" >
    insert into u_r_rel (urid, username, rid
      )
    values (#{urid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{rid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hqyj.mana.pojo.Urrel" >
    insert into u_r_rel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="urid != null" >
        urid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="rid != null" >
        rid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="urid != null" >
        #{urid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="rid != null" >
        #{rid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hqyj.mana.pojo.Urrel" >
    update u_r_rel
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="rid != null" >
        rid = #{rid,jdbcType=INTEGER},
      </if>
    </set>
    where urid = #{urid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hqyj.mana.pojo.Urrel" >
    update u_r_rel
    set username = #{username,jdbcType=VARCHAR},
      rid = #{rid,jdbcType=INTEGER}
    where urid = #{urid,jdbcType=INTEGER}
  </update>
  <select id="searchbyusername" resultType="java.lang.Integer" parameterType="com.hqyj.mana.pojo.Urrel" >
    select rid
    from u_r_rel
    where username = #{username,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="com.hqyj.mana.pojo.Urrel" >
    select 
    <include refid="Base_Column_List" />
    from u_r_rel
  </select>
  <update id="updatebyusername" parameterType="com.hqyj.mana.pojo.Urrel" >
    update u_r_rel
    set  rid = #{rid,jdbcType=INTEGER}
    where username = #{username,jdbcType=VARCHAR}
  </update>
  
  <delete id="delbyusername" parameterType="java.lang.String" >
    delete from u_r_rel
    where username = #{username,jdbcType=VARCHAR}
  </delete>
</mapper>